<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style sheet -->
    <title>Routers</title>
</head>
<body>
    <h2>Routes</h2>
<div class="tables">
    <h4>Home</h4>
    <center>
    <table border="1">
        <tr>
            <th>HTTP Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/</td>
            <td>Take you to the Routes page</td>

        </tr>
    </table>
</center>
    <h4>Users</h4>
    <center>
    <table border="1">
        <tr>
            <th>HTTP Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/users</td>
            <td>Displays all users</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/user/id</td>
            <td>Display a single user</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/user/new</td>
            <td>Add a user</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/user/id</td>
            <td>Update a user</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/user/id</td>
            <td>Delete a user</td>
        </tr>
    </table>
</center>
<!-- PRODUCTS -->
    <h4>Products</h4>
    <center>
    <table border="1">
        <tr>
            <th>HTTP Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/products</td>
            <td>Dispaly all products</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/product/id</td>
            <td>Display a single product</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/product/new</td>
            <td>Add a product</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/product/id</td>
            <td>Edit a product</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/product/id</td>
            <td>DELETE a product</td>
        </tr>
    </table>
</center>
<!-- ORDERS -->
<h4>Orders</h4>
    <center>
    <table border="1">
        <tr>
            <th>HTTP Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/orders</td>
            <td>Dispaly all orders</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/order/id</td>
            <td>Display a single order</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/product/new</td>
            <td>Add a product</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>/order/id</td>
            <td>Edit a order</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>/product/id</td>
            <td>DELETE a product</td>
        </tr>
    </table>
</center>
</div>
</body>
</html>